<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{title}}</title>

  <!-- The javascript and css are managed by sprockets. The files can be found in the /assets folder-->
  <script type="text/javascript" src="/assets/application.js"></script>
  <link rel="stylesheet" href="/assets/application.css">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/assets/images/favicon.ico">

</head>
  <body>
    <div id="container">
      <div class="gridster">
          <ul>
            <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
              <div data-view="Image" style='background-color: white;' data-image="/images/tec10.png"></div>
            </li>
            <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
              <div data-id="clock" data-view="Clock" data-title="Clock"></div>
            </li>
            <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
              <div data-id="cli_cpu_l1" data-view="Meter" data-title="Leaf 1 CPU" data-min="0" data-max="100"></div>
            </li>
            <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
              <div data-id="cli_cpu_l2" data-view="Meter" data-title="Leaf 2 CPU" data-min="0" data-max="100"></div>
            </li>
            <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
              <div data-id="cli_cpu_s1" data-view="Meter" data-title="Spine 1 CPU" data-min="0" data-max="100"></div>
            </li>
            <li data-row="3" data-col="1" data-sizex="1" data-sizey="12">
              <div data-id="cli_ip_s1" data-view="List" data-unordered="true" data-title="L3 Interfaces - Spine 1" data-moreinfo="L3 Interfaces on Spine 1"></div>
            </li>
            <li data-row="3" data-col="2" data-sizex="1" data-sizey="12">
              <div data-id="cli_ip_l1" data-view="List" data-unordered="true" data-title="L3 Interfaces - Leaf 1" data-moreinfo="L3 Interfaces on Leaf 1"></div>
            </li>
            <li data-row="3" data-col="3" data-sizex="1" data-sizey="12">
              <div data-id="cli_ip_l2" data-view="List" data-unordered="true" data-title="L3 Interfaces - Leaf 2" data-moreinfo="L3 Interfaces on Leaf 2"></div>
            </li>
        </ul>
    </div>
  </body>
</html>
